<div class="wrapper" ng-controller="HomeController">
    <div class="parallax">
        <div class="parallax-image">
            <img src="assets/app/img/bg6.jpg">
        </div>
        <div class="motto">
            <div class="org-label">Build In The Cloud</div>
            <div><span style="text-transform: none;">IoT</span> Cannelloni</div>
        </div>
        <h3 class="motivation">IoT end-to-end analysis, implementation & replication.</h3>
        <div class="sm-motivation">Recipes for your IoT pasta and creative sauce...</div>
    </div>
    <div class="section">
        <div class="container tim-container max-constraint">
            <h1 class="text-center">
                We give you recipe,<br>
                you make he** of a cannelloni
                <small class="subtitle">IoT is here! IoT is fresh! And IoT smells & tastes really good!</small></h1>

            <p>
                We love IoT. And we think you'll to love it too. That's why we
                put this site together, to provide aspiring IoT engineers & developers with concise, in-depth and replicable
                step-by-step procedures to building IoT systems and prototypes we've spent sometime ourselves
                researching and implementing.
            </p>
            <p>
                What you get are clear, concise & meticulously-documented recipes to building fully functional IoT
                systems, which are both practical and applicable to realistic scenarios - all open source, at no cost to you.
            </p>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </div>
        <div class="space"></div>
    </div>
</div> <!-- wrapper -->
<div class="wrapper" ng-controller="">

</div>